@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

$orangeColor: rgb(190, 123, 0);
$peachColor: rgb(236, 107, 107);

html, body {
    background: linear-gradient(to top right,$orangeColor, $peachColor);
    height: 100vh;
    font-family: 'Lato';
    color: white;
}